body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1c1d; 
    color: #fff;
  }
  
  header {
    background-color: #111; 
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #444;
  }
  
  h1 {
    margin: 0;
    font-size: 24px;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    background-color: #444; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 15px;
  }
  
  p {
    margin: 10px 0;
  }
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-list li {
    width: 200px;
    margin: 15px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .book-list li {
        width: 100%;
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  strong {
    font-weight: bold;
  }
  
  #avatar-label {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  #avatar-label:hover {
    color: #0056b3;
  }
  
  #bio-textarea {
    width: 100%;
    max-width: 400px;
    height: 150px;
    resize: vertical;
    margin-top: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #999;
    border-radius: 5px;
    color: #333; 
  }
  
  nav {
    background-color: #222; 
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #444;
  }
  
  .logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #e60000;
  }
  
  .comments {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .comments h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #comments-list {
    margin-bottom: 15px;
  }
  
  textarea#comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #444;
    color: white;
  }
  
  button#submit-comment {
    padding: 10px 20px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button#submit-comment:hover {
    background-color: #286090;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #286090;
  }
  
  .read-button,
  .plan-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .read-button:hover,
  .plan-button:hover {
    background-color: #286090;
  }
  