body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1c1d;
    color: #fff;
}

header {
    background-color: #262a2b;
    color: white;
    padding: 15px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #262a2b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #262a2b;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #777;
}

.book-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
}

.book-list li {
    width: 200px;
    margin: 10px;
    text-align: center;
}

#search {
    margin: 20px;
    padding: 20px;
    background-color: #1a1c1d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #262a2b;
    color: white;
}

#search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search-results li {
    margin: 10px;
    text-align: center;
}
